{% extends 'portfolio/index.html' %}
{% block content %}
    <div class="port-con">
        <div class="port_title">현금 비중 수정</div>
        <form method="post" class="port_form">
            {% csrf_token %}
            <div class="port-ob">
                <label>{{form.cash_price.label}}</label>
                {{form.cash_price}}
            </div>
            <div class="port-ob">
               <label>{{form.cash_per.label}}</label>
                {{form.cash_per}}
            </div>
            <button type="submit" class="port_btn">저장</button>
        </form> 
   </div>
{% endblock %}