{% extends 'portfolio/index.html' %}
{% block content %}
    {% for corp in corps %}
        <div class="corp">

            <div class="corp_info">
                <h1>{{corp.stock_name}}</h1>
                <p>종목 코드 : {{corp.stock_code}}</p>
                <p>주가 : {{corp.stock_price|linebreaksbr}}원</p>
            </div>
            
            {% if ports %}
                <form action="{% url 'port' %}" method="post">
                    {% csrf_token %}
                    <div class="box">
                        <label for="ports">Choose a port</label>
                        <select name="port" id="ports">
                            {% for port in ports %}
                                <option value={{port.portname}}>{{port.portname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="box">
                        <label for="sectors">Choose a sector</label>
                        <select name="sector_name" id="sectors">
                            {% for sector in sectors %}
                                <option value={{sector.sector_name}}>{{sector.sector_name}}</option>
                            {% endfor %}
                        </select>
                    </div>  

                    <input type="hidden" name="stock_name" value={{corp.stock_name}}>
                    <input type="hidden" name="stock_code" value={{corp.stock_code}}>
                    <button type="submit">추가</button>
                
                </form>
            {% else %}
                <p>회사가 없음</p>
            {% endif %}
        </div>
    {% empty %}
        <p>검색 결과가 없습니당</p>
    {% endfor %}
{% endblock %}
