{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoPol</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div class="header-left">
                    <a href="/port/"><span class=main_title>Pd</span></a>
                </div>
                <form action="{% url 'corp_search' %}" method="post" class="search_form">
                    {% csrf_token %}
                    <input type="search" name="corp_name" placeholder="회사 검색">
                    <button type="submit" class="search_btn"><span class="glyphicon glyphicon-search"></span></button>
                </form> 
                <div class="header-right">
                 
                    <a href="{% url 'logout' %}" class="logout_btn">로그아웃</a>  
                </div>                
            {% else %}
                <div class="header-left">
                    <a href="/"><span class='main_title'>Pd</span></a>
                </div>
                <div class="header-right">
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a> 
                    <a href="{% url 'signup' %}" class="top-menu">회원가입</a> 
                </div>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</body>
</html>