{% extends 'portfolio/index.html' %}
{% block content %}
    {% for mycorp in stocks %}
        <div class="mycorp">
            <h1>{{mycorp.stock_name}}</h1>
            <p>{{mycorp.stock_code}}</p>
                {% csrf_token %}
                <input type="text" name="stock_count" value={{mycorp.stock_count}}>
                <button type="submit" class="save btn btn-default">적용</button>
            </form>
            <p>주가 : </p>
            <p>총금액 : </p>
        </div>
        
    {% empty %}
        <p>회사가 추가되지 않았습니다.</p>
    {% endfor %}
{% endblock %}
