{% extends 'portfolio/index.html' %}
{% load custom_tags %}
{% block content %}
    <div class="ports">
        <div class="title_bar">
            <div class="port_title">Portfolio</div>
            <a href="{% url 'port_new' %}" class="btn make_btn">만들기 <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        {% for port in all_ports %}
            <div class="all_port">
                <div class="port_header">
                    <div class="port_name">{{port.portname}} ({{port.port_price}})</div>
                    <div class="right-box">
                        <a href="{% url 'sector_new' pk=port.pk %}" class="btn btn_sector_add">종목 <span class="glyphicon glyphicon-plus"></span></a>
                        <a href="{% url 'port_edit' pk=port.pk %}" class="btn"><span class="glyphicon glyphicon-edit"></span></a> 
                        <a href="{% url 'port_remove' pk=port.pk %}" class="btn remove_btn"><span class="glyphicon glyphicon-remove"></span></a> 
                    </div>
                </div>

                <div class="sector">
                    <div class="cash_bar">
                        <div class="cash_name">현금</div>
                        <div class="cash_price">(보유금액 : {{port.cash_price}}</div>
                        <div class="cash_price">목표비중 : {{port.cash_per}}%</div>
                        <div class="cash_price">현재비중 : {{port.cash_price|int_div:port.port_price}}%)</div>
                        <a href="{% url 'cash_edit' pk=port.pk %}" class="btn"><span class="glyphicon glyphicon-edit"></span></a> 
                    </div>
                   {% for sector in port.sectors.all %}
                        <div class="sector_bar">
                            <div class="sector_name">{{sector.sector_name}}</div>
                            <div class="sector_price">(종목금액 : {{sector.sector_price}}</div>
                            <div class="pre_per">목표비중 : {{sector.sector_per}}%</div>
                            <div class="pre_per">현재비중 : {{sector.sector_price|int_div:port.port_price}}%)</div>
                            <a href="{% url 'sector_edit' pk=sector.pk %}" class="btn"><span class="glyphicon glyphicon-edit"></span></a> 
                            <a href="{% url 'sector_remove' pk=sector.pk %}" class="btn remove_btn"><span class="glyphicon glyphicon-remove"></span></a> 
                        </div>
                        <div class="sector_corps">
                            {% for corp in sector.corps.all %}
                                <div class="corp">
                                    <div class="left-box">
                                        <div class="main_info">
                                            <div class="info stock_name">{{corp.stock_name}}</div>
                                            <div class="info stock_price">{{corp.info.stock_price}}원</div>
                                        </div>
                                        <form action="{% url 'add_count' %}" method="post" class="form count_form">
                                            {% csrf_token %}
                                            <label for="count">주식수 : </label>
                                            <input type="number" name="stock_count" id="count" value="{{corp.stock_count}}">
                                            <input type="hidden" name="corp_pk" value="{{corp.pk}}">
                                            <input type="hidden" name="sector_pk" value="{{sector.pk}}">
                                            <input type="hidden" name="port_pk" value="{{port.pk}}">
                                            <input type="hidden" name="stock_price" value="{{corp.info.stock_price}}">
                                            <button type="submit" class="btn btn-default">계산</button>
                                        </form>

                                        <a href="{% url 'corp_remove' pk=corp.pk %}" class="btn remove_btn"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                    <div class="right-box">
                                        <h4>투자금 : {{corp.total_price}}</h4>
                                    </div>
                                                                   
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="none_corp">
                    {% for n_corp in port.corps.all %}
                        {% if not n_corp.sector %}
                            <div class="port_corp_n">
                                <div class="stock_name">{{n_corp}}</div>
                                <form action="{% url 'add_corp_to_sector' pk=n_corp.pk%}" method="post" class="none_form">
                                    {% csrf_token %}
                                    <select name="sector" id="sectors">
                                        {% for sector in port.sectors.all %}
                                            <option value={{sector}}>{{sector}}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-default">분류</button>
                                </form>
                                <a href="{% url 'corp_remove' pk=n_corp.pk %}" class="btn"><span class="glyphicon glyphicon-remove"></span></a>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
