{% extends 'portfolio/index.html' %}
{% block content %}
    <div class="sector-con">
        {% if edit %}
            <div class="sector_title">종목 수정</div>
        {% else %}
            <div class="sector_title">새로운 종목</div>
        {% endif %}
        <form method="post" class="sector_form">
            {% csrf_token %}
            <div class="sector-ob">
                {{form.sector_name.label}}
                {{form.sector_name}}
            </div>
            <div class="sector-ob">
                {{form.sector_per.label}}
                {{form.sector_per}}
            </div>
            <button type="submit" class="sector_btn">저장</button>
        </form> 
    </div>
{% endblock %}