{% extends 'portfolio/index.html' %}
{% block content %}
    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
        <div class="login-con">
            <form method="post" action="{% url 'login' %}" class="login_form">
                <div class=login_title>로그인</div>
                {% csrf_token %}
                <div class="login-ob">{{form.username}}</div>
                <div class="login-ob">{{form.password}}</div>
                <input type="submit" value="login" class="login-ob login_btn">
                <input type="hidden" name="next" value="{{next}}">
            </form> 
        </div>
        <div></div>
        
{% endblock %}