.select,
#count {
    width: 70px;
    background-color: #0071e3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.login_btn,
.sector_btn,
.port_btn,
.signup_btn {
    background-color: #0071e3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 5px 10px 5px 10px;
    
}

.logout_btn,
.save_btn{
    background-color: #0071e3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.btn {
    background-color: #0071e3;
    margin-left: 10px;
    color: #ffffff;
    border: none;
}