.login-con, 
.sector-con, 
.port-con,
.cash-con,
.signup-con {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45), 30px 30px 40px rgba(118, 146, 180, 0.18);
}

.login-con label, 
.sector-con label, 
.port-con label,
.cash-con label,
.signup-con label {
    color: #333333;
}

.login-con,
.cash-con {
    height: 250px;
    width: 300px;
}

.sector-con {
    height: 300px;
    width: 300px;
}

.port-con {
    height: 370px;
    width: 300px;
}

.corp-con {
    display: flex;
}

.login-all {
    display: flex;
}