.login-con, 
.sector-con, 
.port-con,
.cash-con {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    
}

.login-con,
.cash-con {
    height: 250px;
    width: 300px;
}

.sector-con {
    height: 300px;
    width: 300px;
}

.port-con {
    height: 370px;
    width: 300px;
}