.search_corp {
    display:flex;
    justify-content: space-between;
    margin-bottom: 70px;
    border-bottom: 1px solid gray;
    color:#333333;
}

.search_info {
    margin-right: 50px;
    margin-bottom: 20px;
}

.search_form {
    display:flex;
    align-items: center;
    justify-content: center;
}

.search_name,
.search_price,
.search_label{
    color: #333333;
}

.search_name,
.search_label{
    font-size: 20px;
}