.login_form, 
.sector_form,
.port_form,
.cash_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-ob, 
.sector-ob, 
.port-ob,
.cash-ob{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
}

.login-ob input,
.sector-ob input,
.port-ob input,
.cash-ob input {
    width: 200px;
    margin: 10px 0 10px 0;
}

.login_title, 
.sector_title,
.port_title,
.cash_title {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333333;
}

.none_form {
    display: flex;
}

.signup_form p{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup_btn {
    margin-left: 90px;
}

.corp_form{
    margin: 0 10px 0 10px;
    display: flex;;
    align-items: center;
}

.port-form {
    display: flex;
    align-items: center;
}

.login-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-all p{
    margin-top : 20px;
    color: #333333;
}