.login_form, 
.sector_form,
.port_form,
.cash_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-ob, 
.sector-ob, 
.port-ob,
.cash-ob{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
}

.login-ob input,
.sector-ob input,
.port-ob input,
.cash-ob input {
    width: 200px;
    margin: 10px 0 10px 0;
}

.login_title, 
.sector_title,
.port_title,
.cash_title {
    margin-bottom: 15px;
    font-size: 24px;
}

.login_btn,
.sector_btn,
.port_btn,
.signup_btn {
    background-color: #0071e3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 5px 10px 5px 10px;
    
}

.none_form {
    display: flex;
}

.signup_form p{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup_btn {
    margin-left: 90px;
}