.title_bar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.all_port {
    border-radius:20px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.all_port div{
    margin-bottom: 10px;
}

.port_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    border-radius: 20px 20px 0 0;
    padding: 10px 0 0 20px;
}

.port_corp_n {
    display:flex;
    padding-left: 20px;
}

.corp {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.left-box{
    display:flex;
    align-items: center;
}

.port_name {
    font-size: 30px;
}

.btn_sector_add,
.sector{
    margin: 0 20px 0 20px;
}


.sector_bar, .cash_bar {
    display: flex;
    align-items: center;
    margin-top:10px;
    border-bottom: 1px solid gray;
}

.sector_bar div,
.cash_bar div{
    margin-right: 10px;
}

.sector_name,
.cash_name{
    font-size: 25px;
    margin-right:20px;
}


#count {
    width:50px;
}

.main_info {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;
    border: 1px solid #0071e3;
}

.stock_name {
    color:#0071e3;
    font-size: 20px;
    margin: 0 10px 0 10px;
}


.stock_count{
    margin: 10px;
}