@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('./port.css');
@import url('./post.css');
@import url('./corp_search.css');

body {
    font-family: 'Do Hyeon', sans-serif;
}

.container , .row , .col-md-9, .port, .all_port{
    width: 100%;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
}

.search_form {
    display:flex;
}

.search {
    margin-left: 10px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.save {
    margin-left: 10px;
}